  @import "../bootstrap-5.3.3/scss/bootstrap.scss";
  
  
  
  body::before {
    content: "XS";
    color: blue;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
  } 
  
   /* This box class is purely used for explaining how the bootstrap grid system works.  */
   .box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
  }
  
   @media (min-width: 576px) {
    body::before {
      content: "SM";
    }

  } 

  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  } 
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  } 
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }

  #hit button {
    color: #000;
  }

  #patty:hover {
    fill: brown;
  }

  .buns:hover {
    fill: rgb(176, 118, 9);
  }

.blackjack_container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}

#dealer-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
}

#your-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
}

#hit {
  width: 100px;
  height: 50px;
  font-size: 20px;
}

#stay {
  width: 100px;
  height: 50px;
  font-size: 20px;
}

.reload-btn {
  width: 75px;
  height: 40px;
  font-size: 18px;
}

#canvas {
  border: 2px solid black;
}

